body
{
    background: url="https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png";
    font-family: 'Cookie' cursive;
    text-align: center;
}
img
{
    width: 200;
    height: 150;
}